DATABASE_URL=your_database_url_here

NODE_ENV=development/production

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=30d

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER=smtp_user_email_here
SMTP_PASSWORD="smtp_user_password_here"
EMAIL_FROM=email_from_here
